html {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F9DEC0), to(#C8A38F));
  background-image: linear-gradient(#F9DEC0, #C8A38F);
  background-repeat: no-repeat;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.navigation {
  line-height: 2;
  background-color: rgba(54, 95, 124, 0.5);
}

.navigation a, .navigation li {
  display: block;
}

.navigation a:hover, .navigation li:hover {
  color: #F9DEC0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation a {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.navigation li {
  padding: 0.7vh 5vw;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .navigation {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .navigation .menu {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation .menu > li {
    border: none;
    padding: 0 10px;
  }
  .navigation .menu > li > a {
    padding: 1.25em 0;
  }
}

.main {
  width: 400px;
  padding-top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
  text-shadow: 1px -1px gray;
  color: white;
}

form {
  background-color: white;
  padding: 20px;
  padding-left: 40px;
}

form .add {
  font-size: 20px;
  color: #515859;
}

form .add:hover {
  color: #F9DEC0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  cursor: pointer;
}

.tasksBoard {
  background-color: white;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.tasksBoard > ul {
  list-style: none;
}

.tasksBoard > ul li {
  border-bottom: 1px solid grey;
  padding-bottom: 17px;
  padding-top: 17px;
  font-size: 1.3em;
  color: #515859;
}

.tasksBoard > ul label:hover {
  cursor: pointer;
  color: #AF1F1F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tasksBoard > ul .update, .tasksBoard > ul .remove {
  float: right;
}

.tasksBoard > ul .update:hover, .tasksBoard > ul .remove:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.remove {
  font-size: 21px;
}

.remove:hover {
  color: #AF1F1F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.update {
  font-size: 20px;
  padding-right: 5px;
}

.update:hover {
  color: #F9DEC0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clear {
  float: right;
  text-align: right;
  color: #515859;
  font-size: 1.1em;
  cursor: pointer;
  padding-bottom: 20px;
}

.clear:hover {
  color: #F9DEC0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer > p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 12vh 0 3vh 0;
}

@media (max-width: 500px) {
  .main {
    margin: auto;
    width: 100%;
  }
  input[type="text"] {
    width: 80%;
  }
  .add {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */